/*------------------------- SPRITE VARIABLES ---------------*/

$sprite: '../images/sprites.png';
$sprite2x: '../images/sprites@2x.png';
$spriteW: 300px;
$spriteH: 300px;

/*------------------------- COLORS ---------------*/

$text: #333333;

/*------------------------- FONT MIXINS ---------------*/
