/*------------------------- SPRITE VARIABLES ---------------*/

$sprite: '../images/layout/sprites.png';
$sprite2x: '../images/layout/sprites@2x.png';
$spriteW: 300px;
$spriteH: 300px;

/*------------------------- COLORS ---------------*/


/*------------------------- FONT MIXINS ---------------*/
